{:deps {io.github.nextjournal/clerk {:mvn/version "v0.11.603"}}

 :aliases
 {:nextjournal/clerk
  {:exec-fn nextjournal.clerk/build-static-app!
   ;; notebooks to be built, accepts globs patterns
   :exec-args {:bundle? false
               :paths ["index.md"]}}}}
