{:deps {io.github.nextjournal/clerk {:git/sha "7e3207786f9b5c2e04e9baefc98f4d6c778e576e"}}

 :aliases
 {:nextjournal/clerk
  {:exec-fn nextjournal.clerk/build!
   ;; notebooks to be built, accepts globs patterns
   :exec-args {:bundle false
               :index "index.md"}}}}

